---
import Socials from "./Socials.astro";
---

<div
  id="contact"
  class="contact flex justify-center items-center flex-col px-4 md:px-8"
>
  <p
    class="contact-tag text-black text-sm m-4 flex justify-center items-center"
  >
    Get in Touch
  </p>
  <h2 class="text-black text-3xl font-bold text-center">Let's Collaborate</h2>
  <h3 class="text-gray-500 text-center mb-8">
    I'm always eager to discuss new projects and opportunities. Feel free to
    reach out, and let's bring your ideas to life.
  </h3>

  <form id="contact-form" class="w-full max-w-md">
    <div class="mb-4">
      <input
        class="w-full p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black text-black"
        type="text"
        placeholder="Name"
        required
      />
    </div>
    <div class="mb-4">
      <input
        class="w-full p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black text-black"
        type="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="mb-4">
      <textarea
        id="message"
        class="w-full p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black text-black"
        rows="5"
        placeholder="Message"
        required></textarea>
    </div>
    <div class="flex justify-center">
      <button
        class="bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800 transition duration-300 mb-10"
        type="button"
        id="submit-button"
      >
        Send Message
      </button>
    </div>
  </form>
  <Socials />
</div>

<script>
  async function sendMessage(event: Event) {
    event.preventDefault();

    const nameInput = document.querySelector(
      'input[type="text"]'
    ) as HTMLInputElement;
    const emailInput = document.querySelector(
      'input[type="email"]'
    ) as HTMLInputElement;
    const messageElement = document.getElementById(
      "message"
    ) as HTMLTextAreaElement;

    if (
      !nameInput.value.trim() ||
      !emailInput.value.trim() ||
      !messageElement.value.trim()
    ) {
      alert("Por favor, rellena todos los campos.");
      return;
    }

    try {
      const response = await fetch("http://localhost:3000/send-email", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: nameInput.value,
          email: emailInput.value,
          message: messageElement.value,
        }),
      });

      const data = await response.json();

      if (response.ok) {
        alert("Mensaje enviado correctamente");
        nameInput.value = "";
        emailInput.value = "";
        messageElement.value = "";
      } else {
        alert(data.message || "Error al enviar el mensaje");
      }
    } catch (error) {
      console.error("Error:", error);
      alert("Error al enviar el mensaje");
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
  const button = document.getElementById('submit-button');
  if (button) {
    button.addEventListener('click', sendMessage);
  }
});
</script>

<style>
  .contact h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1rem;
    color: gray;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    font-size: 1rem;
    color: lightgray;
  }
</style>
