<section class="hero bg-white text-black flex justify-center">
  <div class="hero-content flex flex-col md:flex-row items-center justify-between w-full max-w-screen-xl px-8">
 
    <div class="text-content text-left md:mr-16 md:w-2/3"> 
   <h1 class="text-5xl md:text-8xl font-bold mb-6 text-left w-full max-w-3xl">
     Creating Seamless Digital Journeys
   </h1>
   <p class="text-lg md:text-xl mb-8 text-gray-500">
     Hello, I'm Diana Vidal, an enthusiastic fullstack developer from Barcelona. My goal is to build websites and applications that are both aesthetically pleasing and incredibly user-friendly.
   </p>
</div>

    <div class="md:w-1/3 flex justify-center md:justify-end">
  <img src="diana.png" alt="Foto Diana" class="w-[230px] h-[230px] md:w-[300px] md:h-[300px] rounded-full object-cover mb-4">
</div>

  </div>
</section>



<style>
  .text-content Button {
    margin-top: 1rem;
  }

</style>
