<footer class="mt-8">
  <span class="flex justify-center text-sm text-black">Made with ❤️ by Diana Vidal</span>
</footer>

<style>
  footer {
    width: 100vw;
    margin-left: calc(50% - 50vw); 
    padding: 0.5rem 0; 
  }
  .mt-8 {
    margin-top: 0.5rem; 
  }
</style>
