<header class="flex justify-between text-black">
  <img src="didi_dev_pixel.webp" alt="Avatar Diana" class="w-10 h-10 rounded-full">
    <nav>
      <a href="/" class="m-2">Home</a>
      <a href="/about" class="m-2">About</a>
      <a href="/contact" class="m-2">Contact</a>
    </nav>

</header>
