<section class="projects-section">
  <div class="flex flex-col items-center">
    <p class="text-black text-sm m-4">Featured Work</p>
    <h2 class="text-black">Showcasing My Craft</h2>
    <h3 class="text-gray-400">Take a look at some of my recent projects and the design process behind them.</h3>
  </div>

  <div class="project-one">
    <span>Project 1: Acme Inc. Website</span>
  </div>
</section>

<style>
  .projects-section{
    background-color: #f4f4f5;
  }

  h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5rem;
	}
</style>
